<div class="container">
  <legend>Editar dieta usuario</legend>
  <form>

      <div class="form-group">
          <label class="form-label">Id dieta</label>
          <select type="number" name="id_dieta" id="textName" class="form-control" [(ngModel)]="usuario_dieta.id_dieta">
              <option [value]="p.id_dieta" *ngFor="let p of Listadodietas">{{p.id_dieta}}</option>
          </select>
      </div>

      <div class="form-group">
        <label class="form-label">Id usuario</label>
        <select type="number" name="id_usuario" id="textName" class="form-control" [(ngModel)]="usuario_dieta.id_usuario">
            <option [value]="p.id_usuario" *ngFor="let p of Listadousuarios">{{p.id_usuario}}</option>
        </select>
    </div>

      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
      <a class="btn btn-primary" [routerLink]="['/createplandeportivo']">Cancel</a>
  </form>
</div>
