<div class="container wrapper wrapper2">
  <div class="row">
    <!-- Form -->
    <div class="col-md-12">

      <h3 class="titulo">Cambiar password</h3>

      <form [formGroup]="passwordForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">

          <div class="form-group">
            <label class="label-verde">Dijite el email</label>
            <input type="text" formControlName="email" class="form-control">
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div *ngIf="mensaje">
        <p>{{ mensaje }}</p>
      </div>

    </div>

  </div>
</div>

