<div class="container wrapper">
  <div class="row">
      <!-- Issue table -->
      <div class="col-md-12">
          <div class="inner">

              <h3>Listado de alimentos</h3>

              <tr>
                  <td>
                      <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/createplandeportivo']">Volver a inicio</button>
                  </td>

              </tr>
              <table class="table table-bordered">
                  <thead>


                      <tr>
                          <th scope="col">id_alimento</th>
                          <th scope="col">nombre</th>
                          <th scope="col">proteina</th>
                          <th scope="col">grasa</th>
                          <th scope="col">carbohidrato</th>
                          <th scope="col">fibra</th>
                          <th scope="col">kilocalorias</th>
                          <th scope="col">cantidad</th>
                          <th scope="col">Acciòn</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let p of Listaralimentos">

                          <td>{{p.id_alimento}}</td>
                          <td>{{p.nombre}}</td>
                          <td>{{p.proteina}}</td>
                          <td>{{p.grasa}}</td>
                          <td>{{p.carbohidrato}}</td>
                          <td>{{p.fibra}}</td>
                          <td>{{p.kilocalorias}}</td>
                          <td>{{p.cantidad}}</td>

                          <td>

                              <button type="button" class="btn btn-danger btn-sm" (click)="deletealimento(p.id_alimento)">Remove</button>
                              <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/editaralimento/', p.id_alimento]">Editar Alimento</button>

                          </td>


                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
